*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    word-break: keep-all;
}

p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.6em;
    word-break: keep-all;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

p+p {
    margin-top: 24px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}

html {
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #313131;
    background-color: #FFB731;

    scroll-behavior: smooth;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.0625em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    position: -webkit-fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.6s;
    z-index: 10;
}

nav.active {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    position: relative;
    max-width: 100%;
}


nav .container .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 90px;
    height: 100%;
    color: #FFB731;
    font-size: 18px;
    font-weight: 700;
    flex-direction: column;

    z-index: 2;
}

nav .container .navbar-brand .m {
    color: #F36910;
    margin-bottom: -8px;
}

nav .container .navbar-brand .s {
    color: #FF9D04;
}


nav .container .navbar-nav {
    display: flex;
}

nav .container .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    width: 56px;
    height: 56px;
    padding: 16px;
    z-index: 2;
    position: relative;
    visibility: hidden;
    pointer-events: none;

    color: transparent;
}

nav .container .navbar-toggler::before, nav .container .navbar-toggler::after {
    content: '';
    width: 24px;
    height: 4px;
    display: block;
    position: absolute;
    transform-origin: center;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;

    transition: all 0.3s ease-in-out;
}

.navbar-nav+.navbar-toggler::before {
    transform: rotate(0deg);
    background-color: #F36910;
}

.navbar-nav.active+.navbar-toggler::before {
    transform: rotate(45deg);
}

.navbar-nav+.navbar-toggler::after {
    transform: rotate(180deg);
    background-color: #FF9D04;
}

.navbar-nav.active+.navbar-toggler::after {
    transform: rotate(135deg);
}

nav .container .nav-item {
    z-index: 1;
    position: relative;
}

nav .container .nav-item .nav-link {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9D04;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    min-width: 80px;

    transition: color 0.16s ease-in-out;
    transition-delay: 0.18s;
}

nav .container .nav-item.active .nav-link, nav .container .nav-item:hover .nav-link {
    color: #F36910;
}

nav .container .nav-item::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #f00;
    width: 100%;
    height: 4px;
    bottom: 0;
    transition: transform 0.16s ease-in-out;
    transition-delay: 0.18s;

    transform: scaleX(0);
}

nav .container .nav-item.active::before, nav .container .nav-item:hover:before {
    transform: scaleX(1);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 75%, #000 100%), url("../assets/teamwork.jpg");
    background-size: cover;
    background-position: center;
}

#business {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 75%, #000 100%), url("../assets/activity.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#service {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 75%, #000 100%), url("../assets/grid-5369004.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 75%, #000 100%), url("../assets/sean-pollock-PhYq704ffdA-unsplash_back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 24px;
}

.headerTitle {
    font-size: 34px;
    font-weight: 500;
    padding: 16px 0;
    color: #fff;
    text-align: center;
}

.page-section {
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section .container {
    border: 0px solid #f00;
}

.sectionLabel {
    font-size: 24px;
    font-weight: 500;
    color: #FF9D04;
}

.sectionTitle {
    font-size: 34px;
    font-weight: 400;
    color: #FFB731;
}

.sectionText {
    color: #fff;
}

.container {
    width: 100%;
    max-width: 980px;
    padding: 16px;
}

.contactBtn {
    min-width: 180px;
    height: 48px;
    padding: 0 16px;
    border-radius: 24px;
    background-color: #F36910;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.24);
}

.side-section {
    background-color: #010101;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFB731;
    padding: 56px 16px 0px;

}

.side-section .container .sectionText {
    margin: 36px 0;
}

.stickyBottom {
    position: sticky;
    bottom: 0;
}

.stickyBottom::after {
    content: 'test';
    border: 1px solid #f00;
}

aside {
    position: fixed;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #efefef;
    font-size: 14px;
    font-weight: 500;
    width: 100%;

    transition: opacity 0.24s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

aside.active {
    opacity: 1;
}

.down {
    width: 36px;
    margin-bottom: 4px;
}

.grid {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, auto));
    grid-auto-flow: dense;
    grid-gap: 16px;
}

.item {
    border: 0px solid #f00;
}

.item.half {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item.half2 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item.c2 {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    aspect-ratio: 0.5;
}

.item.w2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.item.h2 {
    grid-column: 4 / 4;
    grid-row: 1 / 3;
    aspect-ratio: 0.5;
}

.item.w4 {
    aspect-ratio: 4;
    grid-column: 1 / 5;
}

.item.wh {
    aspect-ratio: auto;
    grid-column: 1 / 5;
}

/* form */
form {
    margin-top: 36px;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.input label {
    color: #FF9D04;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
}

.input input {
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 16px;
}

.input input:focus, .input input:focus-visible, .input textarea:focus, .input textarea:focus-visible {
    /*outline: 1px solid #F36910;*/
    outline: none;
    border-color: #F36910;    
}

.input textarea {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 16px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 48px;
    width: 156px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-size: 16px;
}

.button:first-child {
    margin-right: 16px;
}

.button.submit {
    background-color: #FF9D04;
    color: #fff;
}

.button.reset {
    background-color: #313131;
    color: #fff;
}

/*image*/

.image {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #efefef;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

.business0 {
    background-image: url("../assets/woman-reads-through-meeting-info.jpg");
}

.business1 {
    background-image: url("../assets/sticky-note-to-ship-code.jpg");
}

.business2 {
    background-image: url("../assets/business-meeting-over-coffee.jpg");
}

.service0 {
    background-image: url("../assets/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg");
}

.service1 {
    background-image: url("../assets/marek-levak-GNVxujZ_CxU-unsplash.jpg");
}

.service2 {
    background-image: url("../assets/office-team-business-meeting.jpg");
}

.about0 {
    background-image: url("../assets/business-women-shaking-hands.jpg");
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #313131; */
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 16px 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    padding: 8px 16px 24px;
}

.copyright {
    font-size: 14px;
    color: #767676;
    padding: 16px 0 40px;
}



footer .addr, footer .email, footer .tel, footer a {
    font-style: normal;
    color: #767676;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

footer .label {
    color: #FF9D04;
    font-weight: 500;
    font-size: 16px;
}

.addr {
    flex: 1;
}

.email {
    padding-right: 32px;
}

/*section.scroll .container .image{
    transition: all 0.2s;
    filter: grayscale(1);
}

section.scroll.active .container .image{
    filter: grayscale(0);
}

section.scroll .container h2{
    transition: all 0.2s;
    color: #131313;
}

section.scroll .container h3{
    transition: all 0.2s;
    color: #313131;
}

section.scroll.active .container h2{
    color: #FF9D04;
}

section.scroll.active .container h3{
    color: #FFB731;
}*/



@media (max-width: 980px) {

    nav .container {
        padding: 0px 0px 0px 16px;
    }

    nav .container .navbar-toggler {
        visibility: visible;
        pointer-events: all;
    }

    nav .container .nav-item::before {
        height: 1px;
        width: calc(100% - 32px);
        left: 16px;
    }

    .navbar-nav {
        position: fixed;
        flex-direction: column;
        width: 100%;
        left: 0;
        top: 0px;
        padding-top: 56px;
        background-color: #fff;

        transition: all 0.3s ease-in-out;
        transform: translateY(-337px);
        opacity: 0;
    }

    .navbar-nav .nav-item {
        background-color: #fff;
    }

    .navbar-nav .nav-item:first-child {
        border-top: 1px solid #efefef;
    }

    .navbar-nav.active {
        opacity: 1;
        transform: translateY(0px);
    }

    .navbar-nav.active::before {
        content: '';
        width: 100%;
        height: 100vh;
        display: block;
        position: fixed;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%, #000 10%);
        z-index: 0;
    }


    section {
        justify-content: center;
        align-items: flex-start;
        padding: 48px 0;
        background-attachment: inherit !important;
    }

    .side-section {
        padding-bottom: 0;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(40%, auto));
        grid-gap: 16px;
    }

    .grid .item {
        grid-column: auto;
        grid-row: auto;
        aspect-ratio: 1;
    }

    .grid .item.half, .grid .item.half2, .grid .item.wh {
        grid-column: 1 / 3;
        grid-row: auto;
        aspect-ratio: auto;
    }

    .grid .item.w4 {
        grid-column: 1 / 3;
        aspect-ratio: 2;
    }

    .headerTitle {
        font-size: 24px;
    }
    
    .sectionTitle {
        font-size: 1.4em;
    }

    .button {
        width: 100%;
    }

    footer .addr, footer .email {
        padding-bottom: 16px;
    }

    footer .container .content {
        flex-direction: column;
    }

}